
/* Border helpers! */
* {
  border: 1px solid rgb(86, 40, 117);
  box-sizing: border-box;
}

/* Carried the same general format over from queries 1-2 */
body {
  background: peachpuff;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 2em;
}

  /* Need to make the container a flexbox.
   I used column wrap to start again. 
   I kept the height/justify
   from the last media query since it looked fine. 
   Padding and gap needed to be switched to .5em to look better.*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5em;
  gap: .5em;
  height: 100vh;
}

/* Adjusted a. Mostly copied a over from query 2 except now a needed
a width of 100%.
Added chartreuse again for instructor's benefit. */
.a {
  width: 100%;
  flex-grow: 1;
  background-color: rgb(221, 147, 193);
  border: 5px solid chartreuse;
}

.wrapper {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5em;
}

.row {
  height: 50%;
  display: flex;
  justify-content: space-between;
  gap: .5em;
}

 /* These are the same sizes throughout. */
.b, .c, .d, .e, .f, .g {
  width: 30%;
  background-color: rgb(221, 147, 193);
  border: 5px solid chartreuse;
}

  /* h seemed to be about 3 times the height of a. */
.h {
  flex-grow: 5;
  background-color: rgb(221, 147, 193);
  border: 5px solid chartreuse;
}

 /*******************************************
  COMPUTER SIZING HERE
  *******************************************/
@media (min-width: 600px) {
  /* Switching to rows for PC layout */
  .container {
    flex-flow: row wrap;
  }

  .a {
    height: 30%;
  }

  .wrapper {
    height: 70%;
    width: 75%;
  }


}