/* * {
  border: 1px solid mediumvioletred;
} */

/* Centered text, though I don't know if it matters for this,
but figured it can't hurt to follow the activity's format.
Adjusted padding and margins to match format. */
body {
  background: blanchedalmond;
  text-align: center;
  padding: 10px 10px;
  margin: 10px 10px;
  font-family: sans-serif;
  font-size: 2em;
  
} 

/* Adds space in between each letter div. */
div {
  margin: 10px 0px;
}

/* Need to make the container a flexbox. */
.container {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  justify-content: space-around;

}     

/* b was a different height from others, so I adjusted its
height separately.
 Included chartreuse to make instructor happy */
.b {
  min-height: 60vh;
  flex-grow: 5;
  background-color: rgb(148, 148, 148);
  border: 5px solid chartreuse;
  
}

/* a and c are same height, so they're adjusted together. */
.a, .c {
  min-height: 10vh;
  flex-grow: 1;
  background-color: rgb(148, 148, 148);
  border: 5px solid chartreuse;

}

/* PC screen layout here. */
@media (min-width: 600px) {
  /* Switched from columns to rows. */
  .container {
    flex-flow: row wrap;
  }

  /* Had to do some width adjustments to match
  the sizes in the PC layout. */
  .a {
    width: 100%;
  }

  .b {
    max-width: 80%;
    margin-right: 20px;
  }

  .c {
    max-width: 30%;
  }
  

}

