/* Everything got a little small on here compared to query 1 and 3...
I would like to fix this, but I've spent so much time trying to wrangle
queries 2 and 3, and this is all I have in me right now. 
Maybe I'll look back at this later. */

/* Border helper! */

* {
  border: 1px solid mediumvioletred;
  box-sizing: border-box;
}

  /* Centered/enlarged text, though I don't know if it matters for this,
  but figured it can't hurt to follow the activity's format. 
  And I like the text being more visible anyway.
 */
body {
  background: papayawhip;
  text-align: center;
  font-family: sans-serif;
  font-size: 2em;
  
}

/* Need to make the container a flexbox.
   I used column wrap since most elements will be
   a column, might need to do something else for the CDE
   since they're a row. I kept the height/justify
   from the last media query since it looked fine. */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 3;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
}


/* All together for consistency in margins and height. 
Max-height may have been one of my issues before. I was originally
doing min-height.*/
.a, .f, aside, .wrapper  {
  flex-grow: 1;
  max-height: 10vh;
  margin: .5em;
  
}

/* Added chartreuse for instructor's benefit. */
.a, .f {
  background-color: rgb(147, 152, 221);
  border: 5px solid chartreuse;
}

aside  {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 20vh;

}

/* More chartreuse! */
aside > div {
  flex-grow: 10;
  margin: .5em;
  background-color: rgb(147, 152, 221);
  border: 5px solid chartreuse;
}

 /* b is the main outlier so it gets to be sad and alone. */
.b {
  width: 90%;
  flex-grow: 3;
  margin: .5em;
  background-color: rgb(147, 152, 221);
  border: 5px solid chartreuse;
}

/*******************************************
  COMPUTER SIZING HERE
  *******************************************/
@media (min-width: 600px) {
  /* Switching to rows for PC */
  .container {
    flex-flow: row wrap;
  }

  /* Everything else needed height and width adjustments */
  .a {
    width: 100%;
    max-height: 10vh;
  }
  .wrapper {
    flex-basis: 70%;
    min-height:  80vh;
  }
  .f {
    margin: .5em;
    flex-grow: 3;
    min-height:  80vh;
  }
}