* {
  border: 1px solid mediumvioletred;
}

/* Centered text, though I don't know if it matters for this,
but figured it can't hurt to follow the activity's format.
Adjusted padding and margins to match format. */
body {
  background: papayawhip;
  text-align: center;
  padding: 5px 5px;
  margin: 5px 5px;
  font-family: sans-serif;
  font-size: 2em;
  
} 

/* Adds space in between each letter div. */
div {
  margin: 5px 0px;
}


/* Need to make the container a flexbox.
 I used column wrap since most elements will be
 a column, might need to do something else for the CDE
 since they're a row. I kept the height/justify
 from the last media query since it looked fine. */
.container {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  justify-content: space-around;

}

/* a and f are the same, so I adjusted
those together. Added chartreuse for instructor's
benefit. */
.a, .f {
  min-height: 10vh;
  flex-grow: 1;
  background-color: rgb(147, 152, 221);
  border: 5px solid chartreuse;
  
}

/* b is the main outlier so it gets to be sad and alone. */
.b {
  min-height: 50vh;
  flex-grow: 5;
  background-color: rgb(147, 152, 221);
  border: 5px solid chartreuse;
  
}

/* Did infline-flex for rows. Added a gap to have spacing
in between the items. Set margin to 0 to override to the
div margins because otherwise there is some extra spacing
in the section. */
.section {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px;
}

/* These are the same sizes throughout. */
.c, .d, .e {
  min-height: 10vh;
  min-width: 10vh;
  flex-grow: 1;
  background-color: rgb(147, 152, 221);
  border: 5px solid chartreuse;
}

/*******************************************
COMPUTER SIZING HERE
*******************************************/
@media (min-width: 600px) {
  /* Switched to rows for the PC layout. */
  .container {
    flex-flow: row wrap;
  }

  .a {
    width: 100%;
    height: 25vh;
  }

  .b {
    max-width: 70%;
    height: 25vh;
    margin-right: 10px;
  }

  /* Since one section is a grouping of rows, I
  made those stick together. Ordered the section
  as 5 so they'd go after the f. */
  .section {
    width: 100%;
    order: 5;
    flex-flow: row wrap;
    align-items: flex-end;
    
  }

  /* CDE are supposed to be on their own row somewhat
  under the F, so flex-basis moved them to a new row. */
  #break {
    flex-basis: 100%;
    height: 10vh;
  }

  /* Having issues getting F to bleed into the lower row. */
  .f {
    max-width: 30%;
    height: 70vh;
    
    
  }

  

  
}